.background-black {
    background-color: black!important;
}
.background-red {
    background-color: #962526!important;
}
.background-green {
    background-color: #339933!important;
}
.background-yellow {
    background-color: #DAA520!important;
}

.branch {
    margin-top: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    width: 100px;
    padding: .8em 1.2em 1em 0.1em;
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: baseline;
    border-radius: .35em;
    height: 35px;
}

.green {
    color: darkgreen;
    font-weight: bold;
}
.red {
    color: red;
    font-weight: bold;
}
.yellow {
    color: #962526;
    font-weight: bold;
}

.middle-text {
    text-align: center;
    vertical-align: middle;
    line-height: 72px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.alert {
    margin-bottom: 0!important;
    line-height: 20px!important;
    margin-top: 10px;
}
.white-text {
    color: white;
    font-weight: 400;
}

.padding {
    padding: 0!important;
}
.padding-left {
    padding-left: 5px!important;
}