.d1 {
    height: 90vh;

}
.d2 {
    height: 100%;
    overflow-y:hidden;
    overflow-x: hidden;
}
.d3-1 {
    height:40px;
}
.d4 {
    position: relative;
    max-height: 75vh;
    overflow: auto;
    padding-bottom: 20px;
    width: 100%;
}
.d4::-webkit-scrollbar {
    display: none;
}
.d5 {
    height:100px;
    overflow: hidden;
    box-sizing: border-box;
}