@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
body {
    padding: 0px;!important;
    background-image: url("../resources/background.jpg");
}
* {
    box-sizing: border-box;
}
.title {
    font-weight: 500;
    text-align: center;
    font-size: 35px;
    color:white;
    font-family: Lato;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
.left-div {
    padding-left: 15px;
    padding-top: 15px;
}
.right-div {
    padding-right: 15px;
    padding-top: 15px;
}
iframe {
    width: 100%;
    height:90vh;
}
.list-group-item {
    border-top: 1px solid;
    border-color: rgba(37,40,43,0.1);
    padding-left: 0;
}
.panel-body {
    background-color: black;
    height:89vh;
}
.list-group-body {
    background-color: black;
    overflow: hidden;
}
.list-group .list-group-item img{
    color: #2895F1;
    cursor: pointer;
    text-decoration: none;
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
.list-group.list-group-header{
    padding:0;
    margin:0;
    max-height: 100%;
    overflow: hidden;
}
.list-group-panel{
    border: 1px solid #ccdbeb;
    border-radius: 0!important;
}

.comment {
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
